
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!-- Forgot Password Form Start -->
<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg justify-content-center">
  <div class="row justify-content-center wrapper" id="forgot-box">
    <div class="col-lg-10 my-auto myShadow" style="min-width: 1239px;">
      <div class="row">
        <div class="col-lg-7 bg-white p-4">
          <h1 class="text-center font-weight-bold text-primary">Forgot Your Password?</h1>
          <hr class="my-3" />
          <p class="lead text-center" style="color: red;">
            @if (ViewBag.Message != null)
            {
              @ViewBag.Message
            }
            else
            {
              <span>To reset your password, enter the registered e-mail adddress and we will send you password reset instructions on your e-mail!</span>
            }
          </p>
          <form asp-controller="users" asp-action="forgotpassword" class="px-3" id="forgot-form">
            <div id="forgotAlert"></div>
            <div class="input-group input-group-lg form-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0" style="padding: 0.9rem 1.94rem"><i class="far fa-envelope fa-lg"></i></span>
              </div>
              <input type="email" id="femail" name="EmailID" class="form-control rounded-0" placeholder="E-Mail" required />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block myBtn">Reset Password</button>
            </div>
          </form>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
          <h1 class="text-center font-weight-bold text-white">Reset Password!</h1>
          <hr class="my-4 bg-light myHr" />
          <a class="btn btn-outline-light btn-lg font-weight-bolder myLinkBtn align-self-center" href="/users/login" id="back-link">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Forgot Password Form End -->

