@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
	<div class="col-12">
		<div class="page-not-found pt-5">
			<div class="bg-light shadow">
				<h2>4<i class="bi bi-bug"></i>4</h2>
				<h3 class="mt-4">Opps! Page Not Found</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and<br>typesetting industry.</p>
				<div class="mt-5">
					<a href="/" class="btn m-2 m-md-0 btn-primary"><i class="bi bi-house-door-fill"></i> Back Home</a>
					<a href="#" class="btn m-2 m-md-0 btn-success"><i class="bi bi-person-lines-fill"></i> Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.page-not-found {
		background-color: #3f51b5;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.page-not-found h2 {
			font-size: 110px;
			color: #e91e63;
		}

		.page-not-found h3 {
			font-size: 36px;
		}

		.page-not-found .bg-light {
			width: 40%;
			padding: 50px;
			text-align: center;
			border-radius: 5px;
			background: #fff;
		}

	@@media (max-width:  767px) {
		.page-not-found h2 {
			font-size: 100px;
		}

		.page-not-found h3 {
			font-size: 28px;
		}

		.page-not-found .bg-light {
			width: 100%;
		}
	}
</style>

